.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#LoadButton{
    justify-self:center;
    grid-column: 1/-1;
    margin-bottom: 1rem;


}
input{
    color:white; 
    background-color:#0b0000 ;
    width: 300px;
    height:40px
}
#buttonSearch{
    margin-left:0.8rem;
    margin-right: 0.3rem;
}

.SortButton{
    margin:0.4rem;
    position: absolute;
    right:1rem;
    top:5rem;

}

@media (max-width: 900px) {
    .box{
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 900px) and (max-width:1500px){
        .box{
        grid-template-columns: 1fr 1fr 1fr;
}
}